.header-container{
    display: flex;
padding: 15px;
justify-content: space-between;
/* width: 100%; */
border-bottom: #F1F1F1 solid 1px;
}

.header-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 50px; */
}

.user-name{
    color: var(--Tertiary-Color, #161E54);
font-feature-settings: 'salt' on, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
text-align: center;
margin-right: 10px;
}
.mobile-menu{
   display: none;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .searchbox{
      display: none;
    }
    .user-name{
        display: none;
    }
    .mobile-menu{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}