


body,p{
  margin: 0;
  font-family: "Poppins";
  padding: 0;
}
.container{
  display:flex;
}
.main-content{
  display: flex;
  flex-direction: column;
  /* width: calc(100vw - 242px); */
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar-container{
    max-width: 90px;
    min-width: 90px;
  }
  .main-content-dashboard{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.sidebar-menu-text{
display: none;
}
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .sidebar-container{
    max-width: 90px;
    min-width: 90px;
  }
  .main-content-dashboard{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.sidebar-menu-text{
display: none;
}
}
